<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/login.css"> <!-- Link to the external CSS file -->
</head>
<body>
    
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
            </div>
            <button type="submit">Submit</button>
            <a href="{% url 'signup' %}">Don't you have an account? signup here</a>
            <a href="{% url 'home' %}">Home page</a>
        </form>
    </div>
    <br>
    <div style="color: red;">
        {{data}}
        {{data1}}
    
    </div>
    
</body>
</html>
